{% import "templates/gmnAcceptance_macros.html" as macs with context %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>GMn Acceptance Studies: {% block title %}{% endblock %}</title>
  <style>
    {%include "templates/gmnAcceptance_styles.css" ignore missing %}
  </style>
  {% endblock %}
</head>
<body>
{% block navbar %}
{%include "templates/gmnAcceptance_navbar.html" ignore missing %}
{% endblock %}

{% block body %}
{% set active_page = active_page|default('goldensummary') -%}
{% endblock %}

{% block glossary %}
{%include "templates/gmnAcceptance_definitions.html" ignore missing %}
{% endblock %}

</body>
</html>
