{% import "templates/gmnAcceptance/Macros.html" as ms with context %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head scoped %}
  <title>GMn Acceptance Studies: {% block title scoped %}{% endblock title %}</title>
  <link rel="stylesheet" href="gmnAcceptance_style.css" />
  <!-- <script type="text/javascript" src="/~cornejo/public/MathJax/MathJax.js"></script> -->
  {% block styles scoped %}
  <style>
  </style>
  {% endblock styles %}
  {% endblock head %}
  <!--
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/CommonHTML"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      processEscapes: true
    },
    CommonHTML: {
      scale: 100
    },
  });
  </script>
  <script type="text/javascript" src="/~cornejo/public/MathJax/MathJax.js"></script>
  -->
</head>
<body>
{% set active_page = active_page|default('goldensummary') -%}

{% block navbar scoped %}
{# {%include "templates/gmnAcceptance/Navbar.html" %} #}

<div id="navigation">
{% set navigation_bar = [
    ('gmnAcceptance_GoldenSummary.html', 'goldensummary', 'Golden Summary'),
    ('gmnAcceptance_Kin01_Summary.html', 'kin01', 'Kin01'),
    ('gmnAcceptance_Kin02_Summary.html', 'kin02', 'Kin02'),
    ('gmnAcceptance_Kin03_Summary.html', 'kin03', 'Kin03'),
    ('gmnAcceptance_Kin04_Summary.html', 'kin04', 'Kin04'),
    ('gmnAcceptance_Kin05_Summary.html', 'kin05', 'Kin05'),
    ('gmnAcceptance_Kin06_Summary.html', 'kin06', 'Kin06'),
    ('gmnAcceptance_Kin07_Summary.html', 'kin07', 'Kin07'),
    ('gmnAcceptance_ConfigSetSummary.html', 'configsetsummary', 'Config/Set Info'),
] -%}

<ul id="navigation">
{% for href, id, caption in navigation_bar %}
<li><a class="navigation{% if id == active_page %} active{% endif %}" href="{{ href|e }}">{{ caption|e }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block body scoped %}
{% endblock %}

{% block glossary scoped %}
{# {%include "templates/gmnAcceptance/Definitions.html" %} #}
{% if ms.defsShown|length %}
<div class="definitions">
<h1>Glossary:</h1>
<ul class="definitions">
  {% for key,val in ms.defsShown.iteritems()  if info.definition[key] != '' %}
  <li><b>{{info.title[key]}}:</b> {{info.definition[key]}}</li>
  {% endfor -%}
</ul>
</div>
{% endif %}
{% endblock %}

</body>
</html>
