{% extends "templates/gmnAcceptance/Base.html" %}

{% set active_page = 'goldensummary' -%}
{% block ActivePage %}
{% endblock ActivePage %}

{% block title %}Golden Summary{% endblock title %}

{% block body %}
<table class="hcal_set_table">
  <tr class="row_title"><td colspan=42 class='hcal_set_title'>Quick Summary of the "Golden" Settings</td></tr>
  <tr>
    <td class='kincol sepcol row_title' rowspan=2>Kin</td>
    <td class='conf_q2col sepcol row_title'rowspan=2>{{ms.rowTitle('Q2',0)}}</td>
    <td class='configandsetcol sepcol row_title'rowspan=2>Config/Set</td>
    <td colspan=2 class='sepcol row_title'>Cross Section &int;&sigma;d&Omega;<br />[{{ info.unit['sigma'] }}]</td>
    <td rowspan=2 class='sepcol row_title extended_cell'>Solid Angle &int;d&Omega;<br />[{{ info.unit['solid'] }}]</td>
    <td rowspan=2 class='sepcol row_title'>{{ms.rowTitle('thetapq',1)}}</td>
    <td rowspan=2 class='sepcol row_title extended_cell'>{{ms.rowTitle('thetapq_radius',1)}}</td>
    <td rowspan=2 class='sepcol row_title extended_cell'>{{ms.rowTitle("pn_vertical_sep",1)}}</td>
    <td rowspan=2 class='sepcol row_title comment_cell'>Comment</td>
  </tr>
  <tr class="row_subtitle">
    <td>Proton</td>
    <td>Neutron</td>
    <!--
    <td>Proton</td>
    <td class='sepcol'>Neutron</td>
    -->
  </tr>
  {% for k in goldens %}
  <tr {% if loop.index > 1 %} class="first_set_item" {% endif %}>
    <td class='kincol sepcol'>{{ k['kin'] }}</td>
    <td class='conf_q2col sepcol'>{{ k['Q2'] }}</td>
    <td class='configandsetcol sepcol'>{{ms.printSetConfigLink(k)}}</td>

    <td><pre>{{ms.printSigma(k['values']['total_sigma_proton'])}}</pre></td>
    <td class='sepcol'><pre>{{ms.printSigma(k['values']['total_sigma_neutron'])}}</pre></td>
    <td class='sepcol'><pre>{{ms.printV(k['values']['total_solid_proton'])}}</pre></td>
    <td class='sepcol'><pre>{{ms.printV(k['values']['thetapq'],'angle')}}</pre></td>
    <td class='sepcol'><pre>{{ms.printV(k['values']['thetapq_radius'])}}</pre></td>
    <td class='sepcol'><pre>{{ms.printV(k['values']['pn_vertical_sep'])}}</pre></td>
    <td class='sepcol comment_cell'>{{ k['comment'] }}</td>
  </tr>
  {% endfor %}
</table>{{ms.printFootnotes()}}

<table class="hcal_set_table">
  <tr class="row_title"><td colspan="42" class='hcal_set_title'>Beam and Spectrometer Configurations for "Golden" Settings</td></tr>
  <tr>
    <td class='kincol sepcol row_title'>Kin</td>
    <td class='q2col sepcol row_title'>{{ms.rowTitle('Q2',1)}}</td>
    <td class='sepcol row_title'>E<sub>beam</sub><br />[{{info.unit['beam_e']}}]</td>
    <td class='sepcol row_title'>&theta;<sub>bb</sub><br />[{{info.unit['det_angle']}}]</td>
    <td class='sepcol row_title'>&theta;<sub>sbs</sub><br />[{{info.unit['det_angle']}}]</td>
    <td class='sepcol row_title'>d<sub>bb</sub><br />[{{info.unit['det_distance']}}]</td>
    <td class='sepcol row_title'>d<sub>mag</sub><br />[{{info.unit['det_distance']}}]</td>
    <td class='sepcol row_title'>d<sub>hcal</sub><br />[{{info.unit['det_distance']}}]</td>
    <td class='sepcol row_title'>{{ms.rowTitle('bdl',1)}}</td>
    <td class='sepcol row_title'>{{ms.rowTitle('scat_e_p',1)}}</td>
    <td class='sepcol row_title'>{{ms.rowTitle('scat_h_p',1)}}</td>
  </tr>
  {% for k in configsetsgolden %}
  <tr {% if loop.index == 1 %} class="first_set_item" {% endif %}>
    {% if loop.index == 1 %}
    {% endif %}
    <td class="kincol sepcol"><pre>{{k['kin']}}</pre></td>
    <td class='q2col sepcol'>{{ k['Q2'] }}</td>

    {% for v in ('beam_e','theta_bb', 'theta_sbs', 'dist_bb', 'dist_mag', 'dist_hcal') %}
    <td class='sepcol configvalcol'><pre>{{'%5.2f'%k[v]}}</pre></td>
    {% endfor %}
    <td class='sepcol configvalcol'><pre>{{ms.printBdl(k['bdl'])}}</pre></td>
    <td class='sepcol configvalcol'><pre>{{'%5.2f'%k['scat_e_p']}}</pre></td>
    <td class='sepcol configvalcol'><pre>{{'%5.2f'%k['scat_h_p']}}</pre></td>
  </tr>
  {% endfor %}
</table>
{{ms.printFootnotes()}}

{% endblock body %}
