{% macro printSetConfigLink(v) -%}
<a href="gmnAcceptance_ConfigSetSummary.html#{{v['config']}}/{{v['set']}}" class="configset_link">{{v['config']}}/{{v['set']}}</a>
{%- endmacro %}

{% macro printSetConfigAnchor(v) -%}
  <a name="{{v['config']}}/{{v['set']}}"></a>{{v['config']}}/{{v['set']}}
{%- endmacro %}


{## Since sigma units now in fm, we can change this:
{% macro printSigma(v) -%}{{'%9.6f'%v}}{%- endmacro%}
##}
{% macro printSigma(v) -%}{{'%9.3f'%v}}{%- endmacro%}
{% macro printExSigma(v) -%}{{'%9.3f'%v}}{%- endmacro%}


{# Macros to print out specific value given the name/type #}
{%- macro printV(v,t) -%}
{%- if   t == 'sigma' -%}{{printSigma(v)}}
{%- elif t == 'angle' -%}{{'%4.1f&deg;'%v}}
{%- elif t == 'pdiff' -%}{%- if v == 0 -%}&nbsp;------&nbsp;{%- else -%}{{'%+7.2f%%'%v}}{%- endif -%}
{%- elif t == 'pdiffn' -%}{%- if v == 0 -%}&nbsp;------&nbsp;{%- else -%}{{'%+7.2f'%v}}{%- endif -%}
{## Since sigma unit now in fm, we can change this:
{%- elif t == 'sigmaID' -%}{{'%11.8f'%v}}
##}
{%- elif t == 'sigmaID' -%}{{'%11.5f'%v}}
{%- elif t == 'dmz' -%}{{'%4.1f'%v}}
{%- elif t == 'percent' -%}{{'%5.2f%%'%v}}
{%- elif t == 'ratio' -%}{{'%5.2f'%v}}
{%- elif t == 'gmn_ratio' -%}{{'%6.4f'%v}}
{%- elif t == 'num_events' -%}{{'%d'%v}}
{%- elif t == 'num_events10' -%}{{'%10d'%v}}
{%- else -%}{{'%8.5f'%v}}
{%- endif -%}
{%- endmacro -%}

{% set footnotes={} %}
{% macro addFootnote(symbol='',note='') -%}{% if symbol == '' %}{% set symbol = '(%d)'%(footnotes|length+1) %}{% endif %}{% if note != '' %}{% set _ = footnotes.update({symbol:note}) %}{% endif %}<sup>{{symbol}}</sup>{% endmacro %}

{% set defsShown={} %}
{% macro rowTitle(name,showDefinition) -%}{% if not info.title[name] %}{{name}}{% else %}{{info.title[name]}}{% endif %}{% if info.unit[name] and info.unit[name] != '' %}<br />[{{info.unit[name]}}]{% endif %}{% if showDefinition and info.title[name] and info.definition[name] != '' %}{% set _ = defsShown.update({name:1}) %}{% endif %}{%- endmacro %}
{% macro printFootnotes(what=0) -%}
{# {%- if footnotes|length -%} #}
<div class="footnotes">
{%- for symbol,note in footnotes.items() %}
{%- if loop.index > 1 -%}<br />{%- endif %}
<sup>{{symbol}}</sup>{{note}}
{%- endfor -%}
</div>
{# {%- endif -%} #}
{%- endmacro -%}

{# Prints the Bdl and adds a footnote if the bdl is at (or beyond) max Bdl #}
{% macro printBdl(bdl) -%}{{'%5.2f'%bdl}}
{%- if bdl == info.maxBdl -%}
{{addFootnote('&dagger;','SBS Field integral is at maximum.')}}
{%- elif bdl > info.maxBdl -%}
{{addFootnote('&Dagger;','SBS Field integral is <b>greater than the maximum possible</b>.')}}
{%- else -%}
&nbsp;{% endif -%}
{%- endmacro %}

{% macro colTitle(name,showDefinition,class1="",class2="") -%}<td class="col_title {{class1}}">{% if not info.title[name] %}{{name}}{% else %}{{info.title[name]}}{% endif %}</td><td class="col_unit sepcol {{class2}}">{% if info.unit[name] and info.unit[name] != '' %}[{{info.unit[name]}}]{% endif %}{% if showDefinition and info.title[name] and info.definition[name] != '' %}{% set _ = defsShown.update({name:1}) %}{% endif %}</td>{%- endmacro %}
